<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>

    <body th:fragment="nav-bar">
        <div class="nav-bar">
            <a th:href="@{/characters}">Characters</a>
            <a th:href="@{/weapons}">Weapons</a>
            <a th:href="@{/artifacts}">Artifacts</a>
            <a th:href="@{/builds}">Builds</a>
            <a th:href="@{/register}">Login/Register</a>
            <a th:href="@{/}">Home</a>
        </div>
    </body>
</html>