<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <div th:replace="fragments/head :: head"/>
        <script th:src="@{/js/artifacts-save.js}"></script>
    </head>

    <body>
        <div th:replace="fragments/nav-bar :: nav-bar"/>
        <div class="main-container">
            <form th:action="@{/artifacts/save}" method="post" id="artifact-form">
                <input type="text" name="set" id="artifact-set" th:field="*{artifactdto.set}">
                <select name="slot" id="artifact-slot" th:field="*{artifactdto.slot}">
                    <option value="Flower" selected>Flower</option>
                    <option value="Plume">Plume</option>
                    <option value="Sands">Sands</option>
                    <option value="Goblet">Goblet</option>
                    <option value="Circlet">Circlet</option>
                </select>
                <div class="flex-break"></div>
                <label for="mainstat-name">Mainstat: </label>
                <select name="mainstat-name" id="mainstat-name" th:field="*{artifactdto.statNames}" class="stat-selector">
                    <option value="HP" selected>HP</option>
                    <option value="ATK">ATK</option>
                    <option value="HP%">HP%</option>
                    <option value="ATK%">ATK%</option>
                    <option value="DEF%">DEF%</option>
                    <option value="Energy Recharge">Energy Recharge</option>
                    <option value="Elemental Mastery">Elemental Mastery</option>
                    <option value="Elemental DMG Bonus">Elemental DMG Bonus</option>
                    <option value="CRIT Rate">CRIT Rate</option>
                    <option value="CRIT DMG">CRIT DMG</option>
                    <option value="Healing Bonus">Healing Bonus</option>
                    <option value="Physical DMG Bonus">Physical DMG Bonus</option>
                </select>
                <input type="number" name="mainstat-value" id="mainstat-value" th:field="*{artifactdto.statValues}">
                <div class="flex-break"></div>
                <label for="substat-name1">Substat 1: </label>
                <select name="substat-name1" id="substat-name1" th:field="*{artifactdto.statNames}" class="stat-selector">
                    <option value="HP">HP</option>
                    <option value="ATK">ATK</option>
                    <option value="DEF">DEF</option>
                    <option value="HP%">HP%</option>
                    <option value="ATK%">ATK%</option>
                    <option value="DEF%">DEF%</option>
                    <option value="CRIT Rate">CRIT Rate</option>
                    <option value="CRIT DMG">CRIT DMG</option>
                    <option value="Energy Recharge">Energy Recharge</option>
                    <option value="Elemental Mastery">Elemental Mastery</option>
                </select>
                <input type="number" name="substat-value1" id="substat-value1" th:field="*{artifactdto.statValues}" step=".01">
                <div class="flex-break"></div>
                <label for="substat-name2">Substat 2: </label>
                <select name="substat-name2" id="substat-name2" th:field="*{artifactdto.statNames}" class="stat-selector">
                    <option value="HP">HP</option>
                    <option value="ATK">ATK</option>
                    <option value="DEF">DEF</option>
                    <option value="HP%">HP%</option>
                    <option value="ATK%">ATK%</option>
                    <option value="DEF%">DEF%</option>
                    <option value="CRIT Rate">CRIT Rate</option>
                    <option value="CRIT DMG">CRIT DMG</option>
                    <option value="Energy Recharge">Energy Recharge</option>
                    <option value="Elemental Mastery">Elemental Mastery</option>
                </select>
                <input type="number" name="substat-value2" id="substat-value2" th:field="*{artifactdto.statValues}" step=".01">
                <div class="flex-break"></div>
                <label for="substat-name3">Substat 3: </label>
                <select name="substat-name3" id="substat-name3" th:field="*{artifactdto.statNames}" class="stat-selector">
                    <option value="HP">HP</option>
                    <option value="ATK">ATK</option>
                    <option value="DEF">DEF</option>
                    <option value="HP%">HP%</option>
                    <option value="ATK%">ATK%</option>
                    <option value="DEF%">DEF%</option>
                    <option value="CRIT Rate">CRIT Rate</option>
                    <option value="CRIT DMG">CRIT DMG</option>
                    <option value="Energy Recharge">Energy Recharge</option>
                    <option value="Elemental Mastery">Elemental Mastery</option>
                </select>
                <input type="number" name="substat-value3" id="substat-value3" th:field="*{artifactdto.statValues}" step=".01">
                <div class="flex-break"></div>
                <label for="substat-name4">Substat 4: </label>
                <select name="substat-name4" id="substat-name4" th:field="*{artifactdto.statNames}" class="stat-selector">
                    <option value="HP">HP</option>
                    <option value="ATK">ATK</option>
                    <option value="DEF">DEF</option>
                    <option value="HP%">HP%</option>
                    <option value="ATK%">ATK%</option>
                    <option value="DEF%">DEF%</option>
                    <option value="CRIT Rate">CRIT Rate</option>
                    <option value="CRIT DMG">CRIT DMG</option>
                    <option value="Energy Recharge">Energy Recharge</option>
                    <option value="Elemental Mastery">Elemental Mastery</option>
                </select>
                <input type="number" name="substat-value4" id="substat-value4" th:field="*{artifactdto.statValues}" step=".01">
                <div class="flex-break"></div>
                <button type="submit" th>Save Artifact</button>
            </form>

            <form th:action="@{/artifacts/upload}" method="post" id="file-form" enctype="multipart/form-data">
                <input type="file" name="file-upload" id="file-upload">
                <button type="submit">Upload</button>
            </form>
        </div>
    </body>
</html>