<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <div th:replace="fragments/head :: head"/>
    </head>

    <body>
        <div th:replace="fragments/nav-bar :: nav-bar"/>
        <div class="main-container">
            <span style="text-align: center;">
                <h1 th:text="${user.username} + '\'s'"></h1>
                <h1>Artifact Collection</h1>
            </span>
            <div class="artifact-container">
                <div class="single-artifact" th:each="artifact : ${artifacts}">
                    <h4 id="artifact-name" class="artifact-info"></h4>
                    <h6 th:text="${artifact.slot}" id="artifact-slot" class="artifact-info"></h6><div class="flex-break"></div>
                    <span>
                        <span th:text="${artifact.mainstat.statName}" class="stat-name"></span>
                        <span th:text="${artifact.mainstat.statValue}" class="stat-value"></span>
                    </span><div class="flex-break"></div>
                </div>
            </div>
        </div>
    </body>
</html>