<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <div th:replace="fragments/head :: head" />
    </head>

    <body>
        <div th:replace="fragments/nav-bar :: nav-bar" />

        <div class="main-content">
            <h1>Characters</h1>
            <p>Click on a character for a more detailed look at their stats</p>
            <span th:if="${message ne null}"><p th:text="#{message}"></p></span>
            <form class="character-container" th:action="@{'/characters/'+${user.id}}" method="post" th:object="${user}">
                <div class="card-container" th:each="character : ${characterList}">
                    <img th:src="${character.iconImage}" alt="${character.name}" class="character-thumb">
                    <a th:href="@{'/character/'+${character.name}}"><p th:text="${character.name}"></p></a>
                    <label for="character-owned" style="font-size: 10px; margin: 0px">Owned?</label>
                    <span th:if="${#lists.contains(user.characters, character)}">
                        
                    </span>
                    <span th:unless="${#lists.contains(user.characters, character)}">
                        <input type="checkbox" name="character-owned" id="character-owned" th:field="${user.characters}" th:value="${character.id}">
                    </span>
                </div>
                <button type="submit">Update my characters</button>
            </form>
        </div>
    </body>
</html>