<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Genshin Build App</title>
    <div th:replace="/fragments/head :: head" />
</head>

<body>
    <div th:replace="/fragments/nav-bar :: nav-bar" />
    <div class="main-content">
        <h1>Genshin Build App</h1>
        <p>
            This app is for making builds for your Genshin Impact characters. Create
            an account to make your builds and add the characters, weapons, and artifacts that you own.
        </p>

        <div id="start-a-build">
            <h2>Start a Build</h2>
            <div class="character-container">
                <a th:href="@{'/builds/character/'+${#strings.replace(character.name, ' ', '_')}}" th:each="character : ${characters}" style="margin: 6px;">
                    <div class="card-container">
                        <img th:src="${character.iconImage}" alt="${character.name}" class="character-thumb">
                        <p th:text="${character.name}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>