<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <div th:replace="fragments/head :: head" />
    </head>

    <body>
        <div th:replace="fragments/nav-bar :: nav-bar"/>
        <div class="main-content">
            <h1>Weapons</h1>
            <p>This is a list of weapons currently in the game, hover over the weapon for more information</p>
            <form class="weapon-container" th:action="@{'/weapons/update/'+${user.id}}" method="post" th:object="${user}">
                <div class="card-container" th:each="weapon : ${weaponList}">
                    <img th:src="${weapon.weaponImage}" alt="${weapon.name}" class="weapon-thumb">
                    <p th:text="${weapon.name}"></p>
                    <div sec:authorize="isAuthenticated()">
                        <span th:if="${#lists.contains(user.weapons, weapon)}">
                            <label for="to-delete" style="margin: 0px; font-size: 10px">Remove from account?</label><br>
                            <input type="checkbox" name="to-delete" id="to-delete" th:field="${user.removeWeapon}" th:value="${weapon.id}">
                        </span>
                        <span th:unless="${#lists.contains(user.weapons, weapon)}">
                            <label for="to-add" style="margin: 0px; font-size: 10px;">Add to account?</label><br>
                            <input type="checkbox" name="to-add" id="to-add" th:field="${user.weapons}" th:value="${weapon.id}">
                        </span>
                    </div>
                </div>
                <div class="flex-break"></div>
                <div sec:authorize="isAuthenticated()">
                    <button type="submit">Update your weapons</button>
                </div>
            </form>
        </div>
    </body>
</html>